@import "tailwindcss";

/* Scrollbar Personalizado */
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #0d1117;
}

::-webkit-scrollbar-thumb {
    background: #30363d;
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background: #58a6ff;
}

/* Scrollbar especifico para el modal */
.custom-scroll::-webkit-scrollbar {
    width: 6px;
}

.custom-scroll::-webkit-scrollbar-track {
    background: #161b22;
}

.custom-scroll::-webkit-scrollbar-thumb {
    background: #30363d;
    border-radius: 3px;
}

/* Animaciones */
.toast-enter {
    transform: translateY(-20px);
    opacity: 0;
}

.toast-enter-active {
    transform: translateY(0);
    opacity: 1;
    transition: all 0.3s ease-out;
}

/* Visual para bloqueados */
.disabled-option {
    opacity: 0.3;
    pointer-events: none;
    filter: grayscale(100%);
    border-color: #374151;
}

/* Ocultar el triangulo por defecto de details en Safari/Chrome viejo */
details>summary::-webkit-details-marker {
    display: none;
}

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    
    /* G.E.L.I.A. Custom Colors */
    --color-dark-900: #0d1117;
    --color-dark-800: #161b22;
    --color-dark-700: #21262d;
    --color-dark-text: #c9d1d9;
}