@import "tailwindcss";

/* Scrollbar Personalizado (Estética más limpia) */
::-webkit-scrollbar {
    width: 6px;
}
::-webkit-scrollbar-track {
    background: var(--color-dark-900);
}
::-webkit-scrollbar-thumb {
    background: var(--color-dark-700);
    border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
    background: var(--color-dark-600);
}

/* Animaciones Globales */
.toast-enter {
    transform: translateY(-20px);
    opacity: 0;
}
.toast-enter-active {
    transform: translateY(0);
    opacity: 1;
    transition: all 0.3s ease-out;
}

/* Ocultar el triangulo de <details> nativo */
details>summary::-webkit-details-marker {
    display: none;
}

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif;
    
    /* Paleta Base Corporativa (Tonos Pizarra/Slate elegantes) */
    --color-dark-900: #0f172a; /* Fondo principal */
    --color-dark-800: #1e293b; /* Contenedores y tarjetas */
    --color-dark-700: #334155; /* Bordes sutiles */
    --color-dark-600: #475569; /* Hover en bordes */
    --color-dark-text: #f8fafc; /* Texto principal brillante pero no cegador */
    --color-dark-muted: #94a3b8; /* Texto secundario */

    /* Departamento: Aromas (Tonos Esmeralda/Salvia) */
    --color-aromas-dark: #064e3b;
    --color-aromas-main: #10b981;
    --color-aromas-light: #34d399;

    /* Departamento: Bellaroma (Tonos Vino/Dorado) */
    --color-bella-dark: #4c0519;
    --color-bella-main: #e11d48;
    --color-bella-light: #fb7185;

    /* Departamento: WooComerce (tonos violetas y azules) */
    --color-woocommerce-dark: #0f172a;
    --color-woocommerce-main: #3b82f6;
    --color-woocommerce-light: #93c5fd;
}